# Data Paths (Relative to project root)
RAW_TRANSACTIONS_PATH="./data/raw/Finance_dataset.csv"
SPARK_MASTER="local[*]"
BRONZE_OUTPUT_PATH="./data/bronze/transactions"
BRONZE_STOCK_PATH="./data/bronze/stocks"

# Prefect Settings
PREFECT_API_URL="http://127.0.0.1:8200/api"
PREFECT_UI_PORT="8200"

# Secret Keys (DO NOT COMMIT REAL SECRETS)
GROQ_API_KEY=""
GEMINI_API_KEY=""
OPENROUTER_API_KEY=""
